{% extends "base.html" %}
{% load static %}

{% block menu_bar_right %}
    <div id="search_input">
        <span id="search_input_1">Search: <input type="text"><br></span>
        <button class="search_button" type="submit"><i class="fas fa-search"></i></button>
    </div>
{% endblock %}

{% block content %}
    <h2 class="title">Sign up</h2>
    <form method="post">
        <table class="form_signup">
            <tr>
                <td>
                    {% csrf_token %}
                    {{ form.as_p }}
                </td>
                <td>
                    <div id="sign_button">
                        <button class="buttons" type="submit">Sign up</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}