{% extends "base.html" %}
{% load static %}

{% block menu_bar_right %}
    <div id="search_input">
        <span id="search_input_1">Search: <input type="text"><br></span>
        <button class="search_button" type="submit"><i class="fas fa-search"></i></button>
    </div>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p class="login_error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="login_error">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p class="login_error">Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div id="login_content">
        <h2 class="title">Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="form_login">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <input class="buttons" type="submit" value="Login">
                        <input type="hidden" name="next" value="{{ next }}">
                    </td>
                </tr>
                <tr>
                </tr>
            </table>
        </form>
        <div>
            <p><a href="/admin">Admin</a></p>
        </div>

        {# Assumes you setup the password_reset view in your URLconf #}
        <a id="forget" href="{% url 'password_reset' %}">Forgot your password?</a>
    </div>

{% endblock %}